<ion-view view-title="Dashboard">
  <ion-content class="padding">
        <div id="word_labels" class="hidden-word-labels">
          <div id="word_label_0" class="word-label"></div>
          <div id="word_label_1" class="word-label"></div>
          <div id="word_label_2" class="word-label"></div>
          <div id="word_label_3" class="word-label"></div>
          <div id="word_label_4" class="word-label"></div>
          <div id="word_label_5" class="word-label"></div>
          <div id="word_label_6" class="word-label"></div>
          <div id="word_label_7" class="word-label"></div>
        </div>

        <div id="l_button_container" class="button_container" >
          <button id="column_button_0" class="left-margin button" onclick="displayWordsColumn(0)"></button>
        </div>
        <div id="ml_button_container" class="button_container">
          <button id="column_button_1" class="left-margin button" onclick="displayWordsColumn(1)"></button>
        </div>
        <div id="mr_button_container" class="button_container">
          <button id="column_button_2" class="left-margin button" onclick="displayWordsColumn(2)"></button>
        </div>
        <div id="r_button_container" class="button_container">
          <button id="column_button_3" class="left-margin button" onclick="displayWordsColumn(3)"></button>
          <div>
            <button class="key button button-assertive" disabled></button>
          </div>
        </div>
      </ion-content>
</ion-view>
