<ion-view view-title="Key Mappings">
  <ion-content>
    <ion-list>
      <div class="bar bar-header item-input-inset" style="padding: 5vw;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-keyUp="filterList($event)">
        </label>
      </div>
      <div class="list">
        <ion-item class="card list-inset" ng-repeat="word in words">
          <div class="item">
            <h2 class="piano_key_word" id="head_{{word.id}}">{{word.word}}</h2>
            <div class="piano_key_container"  ng-click="showPopup($event)" value="{{word.word}}" id="{{word.id}}">
              <button class="button {{word.first_key_class}}" disabled></button>
              <button class="button {{word.second_key_class}}" disabled></button>
              <button class="button {{word.third_key_class}}" disabled></button>
              <button class="button {{word.fourth_key_class}}" disabled></button>
              <button class="button {{word.fifth_key_class}}" disabled></button>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
</ion-view>
